/* 
    Document   : portada
    Created on : 30-abr-2013, 10:15:24
    Author     : sergio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
img {
    display: block;
    margin: auto;
}


#publicidadIzquierda {
    width: 15%;
    float: left;    
}

#publicidadIzquierda img {
    width: 99%;
}

#publicidadDerecha {
    width: 15%;
    float: right;
}

#publicidadDerecha img {
    width: 99%;
}

#seccionCentral {
    width: 70%;
    margin: 0 auto;
}

#body {
    background-color: black;
}

#publicidadSuperior{
    width: 100%;
}

#publicidadSuperior img {
    width: 100%;
}

div.aumenta_imagen a{
    float:left;
    height: 10%;
    width: 95%;
    margin: 15px;
    font-family: WearetrippinShort,Helvetica,"Helvetica Neue",Arial,sans-serif;
    color: goldenrod;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
div.menu :hover {
    height: 12%;
    font-size: 120%;
    width: 100%;
    margin-left: -30px;
}

#logo {
    float: left;
    width: 10%;
    height: 10%;
}

#barraMenu {
    float:left;
    width: 100%;
}

#Etiquetas{
    float: left;
    width: 100%;
    height: 15%;
}

.etiqueta{
    float:left;
    width: 25%;
    line-height: 5%;
}
small {
    color: #C7A04A;
    font-family: ClarendonBT-Light,Helvetica,"Helvetica Neue",Arial,sans-serif;
    font-size: 75%;
    line-height: 12px;
    width: 100%;
    float: left;
}

a.itemA {
    font:bold 150% "Trebuchet MS"; 
    color: white;
    font-weight: 100;
    width: 100%;
    float: left;
}

a.itemA:hover {
    font:bold 190% "Trebuchet MS"; 
    color: white;
    font-weight: 100;
    width: 100%;
    float: left;
}


#banner {
    width: 100%;
    float: left;
}

#seccionBanner {
    width: 90%;
    float:left;
}

#seccionIzquierda {
    width: 58%;
    float: left;
    margin-bottom: 3%;
}

#seccionDerecha {
    width: 40%;
    float: right;
    margin-bottom: 3%;
}

.presentacion {
    border-bottom: 1px solid #333;
    color: #c7a04a;
    font-size: 80%;
}

.cuerpoNoticia {
    color: #7c7c7c;
}

.tituloNoticia {
    text-transform: uppercase;
    font-family: WearetrippinShort,Helvetica,"Helvetica Neue",Arial,sans-serif;
    font-size: 100%;
    color: #c7a04a;
}

.articulo {
    margin-top: 5%;
    margin-left: 2%;
    width: 100%;
}

img {
    width: 100%;
}

footer {
    background-image:url('../Portada/img/footer.png');
    width: 100%;
    height: 5cm;
    margin: 0 auto;
    float: left;
    margin-top: 2%;
}

#footerIzquierda {
    float: left;
    width: 50%
}
#footerDerecha {
    float: right;
    width: 50%
}

.tituloNoticia {
    text-transform: uppercase;
    font-family: WearetrippinShort,Helvetica,"Helvetica Neue",Arial,sans-serif;
    font-size: 100%;
    color: #c7a04a;

}

.presentacionFooter {
    border-bottom: 1px solid #333;
    color: #c7a04a;
    font-size: 80%;
    text-align: center;
}

.tituloNoticiaFooter {
    text-transform: uppercase;
    font-family: WearetrippinShort,Helvetica,"Helvetica Neue",Arial,sans-serif;
    font-size: 100%;
    color: #c7a04a;
    text-align: center;
}

#suscripcion {
    width: 40%;
    margin-top: 3%;
}

#social-icons {

}

#epic {
    width: 100%;
}

#Seccion {
    font-family: WearetrippinShort,Helvetica,"Helvetica Neue",Arial,sans-serif;
    color: white;
    font-weight: bold; 
    text-align: center;
    border-bottom: 1px solid #333;
    padding: 1% 20px 20px 1%;
}

.Secciones {
    width: 100%;
    float: left;
}

#tituloNoticia {
    font-family: WearetrippinShort,Helvetica,"Helvetica Neue",Arial,sans-serif;
    color: white;
    font-weight: bold; 
    font-size: x-large;
}

#NoticiaSeccionDerecha {
    float: right;
    width: 35%;
}

#NoticiaSeccionIzquierda {
    float: left;
    width: 65%;
}

#descripcionImagen {
    font-size: 60%;
    color: gainsboro;
}

#contrastaInfo {
    background-color: saddlebrown;
    border: white solid thin;
    margin-top: 8%;
    padding: 2% 2% 2% 2%;
    width: 90%;
    margin-left: 5%;
}

a {
    color: white;
}

.titulosubmenu{
    margin-left: 5%;
    color: goldenrod;
    text-decoration: black underline solid;
}

#Relacionadas {
    background-color: saddlebrown;
    border: white solid thin;
    margin-top: 8%;
    padding: 2% 2% 2% 2%;
    width: 90%;
    margin-left: 5%;
}


#RelacionadasII {
    width: 96%;
}

#publicidad {
    width: 95%;
    float: left;
    margin-left: 5%;
}

.comentarios {
    width: 100%;
    float:left;    
    border-bottom: white solid thin;
}

#comentarios {
    width: 100%;
    float:left;    
    border-bottom: white solid thin;
}

.comentario {
    color: white;
    border-bottom: white solid thin;
}

#PresentacioComentarios {
    font-family: WearetrippinShort,Helvetica,"Helvetica Neue",Arial,sans-serif;
    font-size: 130%;
    color: white;
    float: left;
}

.input {
    width: 100%;
    float: left;
    color: white;
}

#nombre {
    width: 85%;
    float: right;
}

#inputComentario {
    width: 85%;
    height: 4cm;
    float: right;
}

#boton {
    float: left;
    width: 85%;
    margin-left: 15%;
}

.fechaComentario {
    color: gainsboro;
    font-size: 80%;
}

.Autorcomentario {
    color: orangered;
    border-bottom: white solid thin;
}
